<section id="certificates" class="certificates">
  <h2>My Certificates</h2>
  
  <!-- Background specific overlays that won't affect other sections -->
  <div class="certificates-bg-overlay"></div>
  <div class="certificates-bg-gradient-1"></div>
  <div class="certificates-bg-gradient-2"></div>
  
  <!-- Decorative elements -->
  <div class="certificates-decor-elements">
    <!-- Left side decorations -->
    <div class="certificates-large-decoration one"></div>
    <div class="star-element" style="top: 25%; left: 5%; transform: scale(1.2);"></div>
    <div class="squiggle" style="top: 40%; left: 8%; transform: rotate(-15deg);"></div>
    <div class="small-dots-cluster" style="top: 60%; left: 7%;"><span></span></div>
    <div class="zigzag small" style="bottom: 30%; left: 10%;"></div>
    <div class="scattered-dots" style="top: 70%; left: 12%;"><span></span></div>
    <div class="floating-circle" style="top: 35%; left: 5%; width: 60px; height: 60px;"></div>
    <div class="dark-element dark-circle" style="bottom: 20%; left: 8%;"></div>
    <div class="modal-dashed-circle" style="top: 15%; left: 12%; transform: scale(0.8);"></div>
    
    <!-- Right side decorations -->
    <div class="certificates-large-decoration two"></div>
    <div class="star-element" style="top: 30%; right: 5%; transform: scale(0.9);"></div>
    <div class="squiggle" style="bottom: 35%; right: 8%; transform: rotate(20deg);"></div>
    <div class="small-dots-cluster" style="top: 20%; right: 10%;"><span></span></div>
    <div class="zigzag large" style="top: 50%; right: 7%;"></div>
    <div class="diamond" style="bottom: 45%; right: 12%;"></div>
    <div class="grid-pattern" style="bottom: 15%; right: 10%;"></div>
    <div class="floating-plus" style="top: 65%; right: 6%;"></div>
    <div class="dark-element dark-square" style="top: 25%; right: 9%;"></div>
  </div>

  <div class="certificates-container">
    <!-- Row 1 -->
    <div class="certificates-row">
      <!-- Certificate 1 -->
      <div class="certificate-item">
        <div class="certificate-image">
          <img src="certificates/certificate1.jpg" alt="Webinar Certificate 1">
          <div class="certificate-overlay">
            <div class="certificate-title">Cybersecurity Fundamentals</div>
            <div class="certificate-description">University of Caloocan</div>
          </div>
        </div>
      </div>
      
      <!-- Certificate 2 -->
      <div class="certificate-item">
        <div class="certificate-image">
          <img src="certificates/certificate2.jpg" alt="Webinar Certificate 2">
          <div class="certificate-overlay">
            <div class="certificate-title">Database Universe</div>
            <div class="certificate-description">University of Caloocan</div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Row 2 -->
    <div class="certificates-row">
      <!-- Certificate 3 -->
      <div class="certificate-item">
        <div class="certificate-image">
          <img src="certificates/certificate3.jpg" alt="Webinar Certificate 3">
          <div class="certificate-overlay">
            <div class="certificate-title">FastAPI Development</div>
            <div class="certificate-description">University of Caloocan</div>
          </div>
        </div>
      </div>
      
      <!-- Certificate 4 -->
      <div class="certificate-item">
        <div class="certificate-image">
          <img src="certificates/certificate4.jpg" alt="Webinar Certificate 4">
          <div class="certificate-overlay">
            <div class="certificate-title">GitHub Collaboration</div>
            <div class="certificate-description">University of Caloocan</div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Row 3 - Now with two certificates -->
    <div class="certificates-row">
      <!-- Certificate 5 -->
      <div class="certificate-item">
        <div class="certificate-image">
          <img src="certificates/certificate5.jpg" alt="Webinar Certificate 5">
          <div class="certificate-overlay">
            <div class="certificate-title">User Authentication</div>
            <div class="certificate-description">University of Caloocan</div>
          </div>
        </div>
      </div>
      
      <!-- Certificate 6 (Added) -->
      <div class="certificate-item">
        <div class="certificate-image">
          <img src="certificates/certificate6.jpg" alt="Webinar Certificate 6">
          <div class="certificate-overlay">
            <div class="certificate-title">GitHub Appreciation</div>
            <div class="certificate-description">University of Caloocan</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Fullscreen Image Viewer -->
  <div class="certificate-fullscreen-viewer" id="certificate-fullscreen-viewer">
    <div class="fullscreen-close"><i class="fas fa-times"></i></div>
    <div class="fullscreen-nav prev"><i class="fas fa-chevron-left"></i></div>
    <div class="fullscreen-image">
      <img src="" alt="Fullscreen Certificate" id="fullscreen-certificate-img">
    </div>
    <div class="fullscreen-nav next"><i class="fas fa-chevron-right"></i></div>
    <div class="fullscreen-counter"><span id="current-certificate">1</span> / <span id="total-certificates">6</span></div>
  </div>
</section> 