<section class="home new-home-layout">
  <!-- Decorative Elements -->
  <div class="decorative-elements">
    <div class="geometric-circle"></div>
    <div class="geometric-square"></div>
    <div class="geometric-triangle"></div>
    <div class="geometric-dots"></div>
    <div class="home-decor-star top-right"></div>
    <div class="home-decor-star mid-left"></div>
    <div class="home-large-circle"></div>
    <div class="star-element" style="top: 25%; left: 30%;"></div>
    <div class="squiggle" style="bottom: 20%; right: 15%;"></div>
    <div class="small-dots-cluster" style="top: 70%; left: 20%;"><span></span></div>
  </div>

  <div class="home-main-content hsr-layout">
    <div class="home-left-content">
      <h1 class="home-title">Hi, I'm <span>Laira</span></h1>
      <h2 class="home-subtitle typing-text">I'm a <span></span></h2>
      <p class="home-desc">Honest and teachable. Ready to help the team to achieve company goals.</p>
      <div class="home-social-row">
        <a href="https://www.facebook.com/lairacoleen.samis" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://github.com/Lair027" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/arialeen_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="home-buttons">
        <a href="#education" class="btn">Education</a>
        <a href="#projects" class="btn btn-outline">Projects</a>
      </div>
    </div>
    <div class="home-right-image">
      <div class="background-streak"></div>
      <div class="insta-frame">
        <div class="home-profile-thumb">
          <img src="main.jpg" alt="Profile Thumb">
        </div>
        <div class="image-container">
          <div class="hsr-slant">
            <img src="secondPic.png" alt="Profile Picture" class="main-profile-img">
          </div>
        </div>
        <div class="insta-actions">
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-comment"></i>
          <i class="fa-regular fa-paper-plane"></i>
        </div>
      </div>
    </div>
  </div>
</section> 